<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
<!-- 网络权限 -->
<uses-permission android:name="android.permission.INTERNET" />
<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

<!-- 位置权限 - 用于城市推荐、附近活动查找、共享办公空间发现、地图导航 -->
<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
<!-- 后台位置 - 仅用于旅行足迹检测功能（用户主动开启后使用） -->
<uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />

<!-- 日历权限 - 仅用于将活动/聚会添加到用户日历，用户主动点击"添加到日历"时使用 -->
<uses-permission android:name="android.permission.READ_CALENDAR" />
<uses-permission android:name="android.permission.WRITE_CALENDAR" />

<!-- 通知权限 (Android 13+) - 用于旅行指南生成完成提醒、新消息提醒、活动开始提醒 -->
<uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
<uses-permission android:name="android.permission.VIBRATE" />
<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

<!-- 工信部合规：显式移除第三方SDK引入的冗余权限（应用自身不使用）-->
<uses-permission android:name="android.permission.READ_PHONE_STATE" tools:node="remove" />
<uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" tools:node="remove" />

<!-- Android 11+ 需要声明 queries 才能检测其他App -->
<queries>
    <!-- Facebook -->
    <package android:name="com.facebook.katana" />
    <!-- Twitter/X -->
    <package android:name="com.twitter.android" />
    <!-- WhatsApp -->
    <package android:name="com.whatsapp" />
    <!-- Telegram -->
    <package android:name="org.telegram.messenger" />
    <!-- LinkedIn -->
    <package android:name="com.linkedin.android" />
    <!-- 微信 -->
    <package android:name="com.tencent.mm" />
    <!-- 微博 -->
    <package android:name="com.sina.weibo" />
    <!-- 钉钉 -->
    <package android:name="com.alibaba.android.rimet" />
    <!-- 抖音 -->
    <package android:name="com.ss.android.ugc.aweme" />
    
    <!-- 允许查询 URL scheme -->
    <intent>
        <action android:name="android.intent.action.VIEW" />
        <data android:scheme="https" />
    </intent>
    <intent>
        <action android:name="android.intent.action.VIEW" />
        <data android:scheme="fb" />
    </intent>
    <intent>
        <action android:name="android.intent.action.VIEW" />
        <data android:scheme="twitter" />
    </intent>
    <intent>
        <action android:name="android.intent.action.VIEW" />
        <data android:scheme="whatsapp" />
    </intent>
    <intent>
        <action android:name="android.intent.action.VIEW" />
        <data android:scheme="tg" />
    </intent>
    <intent>
        <action android:name="android.intent.action.VIEW" />
        <data android:scheme="linkedin" />
    </intent>
    <intent>
        <action android:name="android.intent.action.VIEW" />
        <data android:scheme="weixin" />
    </intent>
    <intent>
        <action android:name="android.intent.action.VIEW" />
        <data android:scheme="sinaweibo" />
    </intent>
    <intent>
        <action android:name="android.intent.action.VIEW" />
        <data android:scheme="dingtalk" />
    </intent>
    <intent>
        <action android:name="android.intent.action.VIEW" />
        <data android:scheme="snssdk1128" />
    </intent>
    <intent>
        <action android:name="android.intent.action.SENDTO" />
        <data android:scheme="smsto" />
    </intent>
    <intent>
        <action android:name="android.intent.action.SENDTO" />
        <data android:scheme="mailto" />
    </intent>
    
    <!-- 地图应用 -->
    <package android:name="com.google.android.apps.maps" />
    <package android:name="com.autonavi.minimap" />
    <package android:name="com.baidu.BaiduMap" />
    <package android:name="com.tencent.map" />
    
    <!-- 地图应用 URL scheme -->
    <intent>
        <action android:name="android.intent.action.VIEW" />
        <data android:scheme="google.navigation" />
    </intent>
    <intent>
        <action android:name="android.intent.action.VIEW" />
        <data android:scheme="androidamap" />
    </intent>
    <intent>
        <action android:name="android.intent.action.VIEW" />
        <data android:scheme="baidumap" />
    </intent>
    <intent>
        <action android:name="android.intent.action.VIEW" />
        <data android:scheme="qqmap" />
    </intent>
    <!-- PayPal -->
    <package android:name="com.paypal.android.p2pmobile" />
    <intent>
        <action android:name="android.intent.action.VIEW" />
        <data android:scheme="paypal" />
    </intent>
</queries>
    
    <application
        android:label="行途"
        android:icon="@mipmap/ic_launcher"
        android:networkSecurityConfig="@xml/network_security_config">

<!-- 高德地图 API Key -->
<meta-data android:name="com.amap.api.v2.apikey" android:value="6b053c71911726f46271e4b54124d35f" />

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <!-- Specifies an Android theme to apply to this Activity as soon as
                 the Android process has started. This theme is visible to the user
                 while the Flutter UI initializes. After that, this theme continues
                 to determine the Window background behind the Flutter UI. -->
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"
              />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            
            <!-- Deep Link for Payment callbacks -->
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="gonomads" android:host="payment" />
            </intent-filter>
            
            <!-- 行途 App 通用深链 (gonomads://) -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="gonomads" />
            </intent-filter>
            
            <!-- Universal Link / App Link (https://go-nomads.com) -->
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="https" android:host="go-nomads.com" />
            </intent-filter>
            
<!-- Douyin OAuth 回调 -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
<data android:scheme="gonomads" android:host="douyin-callback" />

            </intent-filter>
        </activity>
        
        <!-- 微信登录/分享/支付回调 Activity -->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:taskAffinity="com.gonomads.go_nomads_app"
            android:theme="@android:style/Theme.Translucent.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="wx3b333eed7c75a444" />
            </intent-filter>
        </activity>
        
        <!-- Don't delete the meta-data below.
             This is used by the Flutter tool to generate GeneratedPluginRegistrant.java -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>
    <!-- Required to query activities that can process text, see:
         https://developer.android.com/training/package-visibility and
         https://developer.android.com/reference/android/content/Intent#ACTION_PROCESS_TEXT.

         In particular, this is used by the Flutter engine in io.flutter.plugin.text.ProcessTextPlugin. -->
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
    </queries>
</manifest>
